pesquisa {
    margin-bottom: 20px;
}

.search-bar {
    position: relative;
    display: flex;
    align-items: center;
}

.search-bar .logo-pesq {
    position: absolute;
    left: 10px;
    width: 20px;
    height: 20px;
    object-fit: contain;
}

.search-bar input {
    width: 100%;
    padding: 10px 10px 10px 40px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}