.list-card-2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 15px; 
    margin-bottom: 10px;
}

.abaixo-cards2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 600px;
    margin-bottom: 5px;
}

.h4-1{
    color: var(--color-gray-100, #202020);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    display: inline-block;
}

.h4-2{
    color: var(--Dark, #2667BF);
    text-align: right;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: none;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    text-underline-position: from-font;
}