.sidebar-left-geral{
    display: flex;
    width: 150px;
    padding: 32px;
    flex-direction: column;
    align-items: flex-start;
    background: var(--color-gray-10, #FFF);
    box-shadow: 0px 14px 42px 0px rgba(8, 15, 52, 0.06);
}

.principal-topicos .img-descricao-side,
.sistema div {
    display: flex;
    align-items: center;
    gap: 10px;
}

.img-descricao-side h4,
.sistema div h4 {
    font-size: 14px;
    color: #333;
    margin: 10px;
}

.seus-amigos img{
    margin-bottom: 15px;
}

.seus-amigos h4{
    margin-top: 50px;
}

.title-sidebar {
    color: var(--color-gray-90, #3F3F3F);
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
}

.img-descricao-side h4{
    color: var(--color-gray-100, #202020);
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.img-descricao h4{
    color: var(--color-gray-100, #202020);
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.img-descricao img{
    width: 18px;
    height: 18px;
}

.img-descricao-side .blue-dash{
    color: var(--Default, #2F80ED);
}

.img-descricao .title-red{
    color: #F13E3E;
}

.img-logo img {
    margin-bottom: 20px;
}

.seus-amigos .ultima-img{
    margin-bottom: 100px;
}